body{
    background-color: rgb(155, 152, 152);
    color :rgb(47, 100, 47);
    font-family: 'Time new Roman' sans-serif;
<<<<<<< HEAD
    font-size: 2rem;
=======
    padding: 10px;
>>>>>>> feature03

}